@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap%27');
@import 'tailwindcss';
@import 'tw-animate-css';
 
@custom-variant dark (&:is(.dark *));
 
body {
  @apply m-0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
 
:root {
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(270, 18%, 9%);
  --card: hsl(0, 0%, 100%);
  --card-foreground: hsl(270, 18%, 9%);
  --popover: hsl(0, 0%, 100%);
  --popover-foreground: hsl(270, 18%, 9%);
  --primary: hsl(270, 60%, 22%);
  --primary-foreground: hsl(0, 0%, 98%);
  --secondary: hsl(290, 37%, 92%);
  --secondary-foreground: hsl(270, 15%, 14%);
  --muted: hsl(270, 5%, 96%);
  --muted-foreground: hsl(270, 15%, 46%);
  --accent: hsl(270, 5%, 96%);
  --accent-foreground: hsl(270, 15%, 14%);
  --destructive: hsla(0, 84%, 60%, 0.65);
  --destructive-foreground: hsl(0, 84%, 60%);
  --border: hsl(270, 10%, 90%);
  --input: hsl(270, 10%, 90%);
  --ring: hsla(270, 60%, 22%, 0.56);
  --chart-1: hsl(25, 75%, 55%);
  --chart-2: hsl(185, 45%, 45%);
  --chart-3: hsl(227, 35%, 35%);
  --chart-4: hsl(85, 65%, 65%);
  --chart-5: hsl(55, 70%, 60%);
  --radius: 0.7rem;
  --sidebar: hsl(0, 0%, 98%);
  --sidebar-foreground: hsl(270, 18%, 9%);
  --sidebar-primary: hsl(270, 15%, 14%);
  --sidebar-primary-foreground: hsl(0, 0%, 98%);
  --sidebar-accent: hsl(270, 5%, 96%);
  --sidebar-accent-foreground: hsl(270, 15%, 14%);
  --sidebar-border: hsl(270, 10%, 90%);
  --sidebar-ring: hsl(270, 10%, 85%);
}
 
.dark {
  --background: hsl(270, 18%, 9%);
  --foreground: hsl(0, 0%, 98%);
  --card: hsl(270, 18%, 9%);
  --card-foreground: hsl(0, 0%, 98%);
  --popover: hsl(270, 18%, 9%);
  --popover-foreground: hsl(0, 0%, 98%);
  --primary: hsl(0, 0%, 98%);
  --primary-foreground: hsl(270, 15%, 14%);
  --secondary: hsl(270, 12%, 20%);
  --secondary-foreground: hsl(0, 0%, 98%);
  --muted: hsl(270, 12%, 20%);
  --muted-foreground: hsl(270, 12%, 65%);
  --accent: hsl(270, 12%, 20%);
  --accent-foreground: hsl(0, 0%, 98%);
  --destructive: hsl(15, 60%, 35%);
  --destructive-foreground: hsl(15, 75%, 50%);
  --border: hsl(270, 12%, 20%);
  --input: hsl(270, 12%, 20%);
  --ring: hsl(270, 15%, 40%);
  --chart-1: hsl(250, 85%, 45%);
  --chart-2: hsl(160, 55%, 50%);
  --chart-3: hsl(55, 70%, 60%);
  --chart-4: hsl(290, 75%, 50%);
  --chart-5: hsl(15, 80%, 50%);
  --sidebar: hsl(270, 15%, 14%);
  --sidebar-foreground: hsl(0, 0%, 98%);
  --sidebar-primary: hsl(250, 85%, 45%);
  --sidebar-primary-foreground: hsl(0, 0%, 98%);
  --sidebar-accent: hsl(270, 12%, 20%);
  --sidebar-accent-foreground: hsl(0, 0%, 98%);
  --sidebar-border: hsl(270, 12%, 20%);
  --sidebar-ring: hsl(270, 15%, 40%);
}
 
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}
 
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
 